{% extends 'base.html' %}

{% block title %}Inicio - Red Social{% endblock %}


<a href="{% url 'registro' %}" class="btn btn-primary">Registrarse</a>

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Nombre de Usuario</h5>
                    <p class="card-text">Contenido de la publicación...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Panel Lateral</h5>
                    <!-- Contenido del panel lateral -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% load static %}
<link href="{% static 'styles.css' %}" rel="stylesheet">




